# Dependencias
node_modules/

# Builds / artefactos locales
dist/
runtime/

# Variables de entorno
.env
.env.local

# Archivos del sistema
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*